@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.025em;
  
}

html {
  scroll-behavior: smooth;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px white;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px white;
  }
  .hover-animate {
    @apply hover:hover:-translate-y-1 transition ease-in-out duration-300 hover:-translate-y-1 hover:scale-110
  }
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.header.scrolled {
  background-color: rgba(62, 52, 91, 0.8)!important;
  /* backdrop-filter: blur(90px); */
}

.selected-project {
  font-weight: bolder;
}

@media print {
  body {
    height: 100vh;
    margin: 0 !important;
    padding: 5px !important;
    overflow: hidden;
  }
  h1 {
    font-size: 14px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
  h2 {
    font-size: 12px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  h3 {
    font-size: 10px !important;
  }
  ul, p, a {
    font-size: 10px !important;
  }
  .print-section {
    margin-bottom: 0px !important;
    padding-top: 0px !important;
  }
}